@import "tailwindcss";
/* 
*{
    margin-top:0 !important; 
    padding:0;
    box-sizing:border-box;
} */

@layer Base{

 body {
    color: #ededed;
    background-color: #fff;
   font-family: "Inter", sans-serif;
 }

html{
  scroll-behavior: smooth;
}
}

@layer utilities{
.row{
  margin:120px;
}
input{
  border: #F8FAFC 1px solid;
  padding: 8px;
}
.bgHeader{
  background-color: #1A0D00;
}
button {
  padding: 10px 20px;
}
}